 .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 740px;
}

.u-section-2 .u-image-1 {
  width: 318px;
  height: 71px;
  margin: 11px 409px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 488px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-video-1 {
  width: 582px;
  height: 327px;
  margin: 0 auto 0 28px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 488px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 78px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 46px 44px 0;
}

.u-section-2 .u-text-3 {
  margin: 38px auto 0;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(235, 186, 22) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(235, 186, 22) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(235, 186, 22) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -75px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 97px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-2 .u-video-1 {
    width: 564px;
    height: 317px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 402px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -78px;
    margin-right: 402px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 53px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-2 .u-video-1 {
    width: 432px;
    height: 243px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 338px;
    margin-right: 222px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -316px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 210px;
    margin-right: 22px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -207px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}