 .u-section-1 {
  background-image: linear-gradient(-90deg, #666666, #333333);
  min-height: 795px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-1 .u-group-1 {
  width: 520px;
  min-height: 626px;
  height: auto;
  margin: 20px 50px -47px auto;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 80px 0 -40px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  text-decoration: underline solid rgb(255, 255, 255);
  margin: 40px 20px 0;
}

.u-section-1 .u-image-1 {
  min-height: 599px;
  background-image: url("images/c7a5eef7434a3c41abc67dbea4472211.png");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-3 {
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 347px;
  height: 347px;
  background-image: url("images/image.png");
  background-position: 50% 50%;
  margin: 0 80px 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  width: 684px;
  margin: -349px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 30px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: -82px;
  margin-bottom: 10px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 164px;
}

.u-section-1 .u-container-layout-6 {
  padding: 17px 8px;
}

.u-section-1 .u-image-3 {
  width: 369px;
  height: 109px;
  margin: 8px auto 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 164px;
}

.u-section-1 .u-container-layout-7 {
  padding: 7px 30px;
}

.u-section-1 .u-image-4 {
  width: 340px;
  height: 144px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 164px;
}

.u-section-1 .u-container-layout-8 {
  padding: 17px 30px;
}

.u-section-1 .u-image-5 {
  width: 308px;
  height: 69px;
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 620px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-1 .u-group-1 {
    width: 429px;
    margin-right: 41px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 39.11% 50%;
    min-height: 494px;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 135px;
  }

  .u-section-1 .u-image-3 {
    width: 297px;
    height: 87px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 135px;
  }

  .u-section-1 .u-image-4 {
    width: 253px;
    height: 107px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 135px;
  }

  .u-section-1 .u-image-5 {
    width: 253px;
    height: 56px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 127px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 25.84% 50%;
    min-height: 378px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 13px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 103px;
  }

  .u-section-1 .u-image-3 {
    width: 224px;
    height: 66px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 103px;
  }

  .u-section-1 .u-image-4 {
    width: 180px;
    height: 76px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 103px;
  }

  .u-section-1 .u-image-5 {
    width: 180px;
    height: 40px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1401px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 567px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 232px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 232px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 232px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 769px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 357px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 239px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 146px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 146px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 146px;
  }
}