 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 607px;
}

.u-section-1 .u-image-1 {
  width: 386px;
  height: 113px;
  margin: 40px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: -20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 434px;
  filter: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 0 120px;
}

.u-section-1 .u-text-2 {
  padding-left: 100px;
  width: 900px;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 61px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
    margin-left: 6px;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 87px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 87px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 120px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 381px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 76px;
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 193px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 193px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 auto 0 120px;
}

.u-section-3 .u-text-2 {
  padding-left: 100px;
  width: 900px;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 76px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 170px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 170px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 auto 0 120px;
}

.u-section-4 .u-text-2 {
  padding-left: 100px;
  width: 900px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 51px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 11px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 36px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 73px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 42px;
    padding-right: 42px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 56px;
    margin-left: 76px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 42px;
    margin-left: 8px;
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 80px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 auto 0 120px;
}

.u-section-5 .u-text-2 {
  padding-left: 100px;
  width: 900px;
  margin: 18px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 270px;
  }

  .u-section-5 .u-text-2 {
    width: 100px;
    margin-right: 270px;
    margin-left: 570px;
    font-weight: 300;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 215px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 215px;
    margin-left: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 209px;
    margin-left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 215px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 29px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 132px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 100%;
  margin: 0 0 1px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 140px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 auto 0 120px;
}

.u-section-6 .u-text-2 {
  padding-left: 100px;
  width: 900px;
  margin: 9px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-6 .u-text-2 {
    width: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 198px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 73px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 208px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: -1px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 109px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: 2px auto 0 120px;
}

.u-section-7 .u-text-2 {
  padding-left: 100px;
  width: 900px;
  margin: 9px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 90px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 76px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 41px;
    width: 340px;
  }
}